*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'title';
  src: url('../font/Cabin-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../font/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'names';
  src: url('../font/Roboto-Light.ttf');
}
body{
  width: 100%;
  height: 100vh;
  border-color: red;


}

.wrapper{
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row  wrap;
  position: fixed;
  overflow: hidden;
}
header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 174.3px;
  min-height: 174.3px;
  background-color: blue;
position: fixed;
z-index: 99;
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #ED3140;
}
nav div.nav-profile{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #ED3140 ;


}
nav div.nav-profile h1{
  font-size: 100px;
  color: #ffffff;
}
nav div.nav-logo{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;


}
nav div.nav-logo img{
  width:150px;
  height:150px;
}

nav div.nav-messege{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #ED3140;


}
nav div.nav-messege h1{
  font-size: 100px;
  color: #ffffff;
}

div.perfil-persona{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  background-color: #ED3140;
  position: fixed;



  /*opacity: 1;*/
  /*z-index: 1;*/
}
div.laAnimacion{
  position: absolute;
  /*opacity: 0;*/
  left: -1000px;
  transition: all 0.5s ease;
}
div.laAnimaciondos{
  position: absolute;
  /*opacity: 0;*/
  left: 1000px;
  transition: all 0.5s ease;
}

div.aguanta{
  position: absolute;
  z-index: 99;
  width: 1000vh;
  height: 1000vh;
  background-color: black;
}

div.perfil-persona-img{
  width: 100%;
  height: 100%;

}
div.perfil-persona-img img{
  width: 100%;
  height: 100%;

}

div.hover-container{
  width: 100%;
  /*height: 100%;*/
  display: flex;
  flex-flow: column;
  position: absolute;
  /*z-index: 1;*/
  justify-content: flex-start;
  align-items: flex-start;

}

div.perfil-persona-info{
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 770px;
}
div.perfil-datos{
  width: 100%;
  height: 60%;
  background-color: none;
  display:flex;
  flex-flow: row;
  background-color:none;
}
div.perfil-nombre{
  display: flex;
  flex-flow: row;
  width: 40%;
  height: 100%;
  justify-content:flex-start;
  align-items: center;
}
div.perfil-edad{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  border-left: 5px solid #ED3140;
  justify-content:flex-start;
  align-items: center;

}
div.perfil-nombre h1{
  font-size: 70px;
  margin-left: 40px;
  color: #FFF;
  font-family: 'names';
}
div.perfil-edad h2{
  font-size: 80px;
  margin-left: 20px;
  color: #FFF;
  font-family: 'names';
}

div.perfil-ubicacion{
  width: 100%;
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-flow: row;

  /*filter: blur(2px);*/

}
div.ubicacion-pais{
  height: 100%;
  width: 50%;
  background-color: #F49DA7;
  display: flex;
  flex-flow: row;
}
div.sector-icon{
  width:30%;
  height:100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.sector-bloque{
  width:70%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
div.sector-icon h3{
  font-size: 80px;
color:#ffffff;

}
div.sector-bloque p{
  font-size: 52px;
  font-family: 'text';
  color: #ffffff;
}
div.ubicacion-distancia{
  height: 100%;
  width: 50%;
  background-color: #ED3140;
  display: flex;
  flex-flow: row;
}
div.ubicacion-icon{
  width:30%;
  height:100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.ubicacion-icon h3{
  font-size: 80px;
  color: #ffffff;

}
div.ubicacion-bloque p{
  font-size: 70px;
  font-family: 'names';
  color: #ffffff;
}

div.ubicacion-bloque{
  width:70%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

div.opciones-menu{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 1100px;
  background-color: none;
  position: fixed;
  overflow: hidden;
  top:1580px;
  z-index: 99;
}
/*desde aca*/
/*div.superior{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 15%;
  background-color: none;
}*/

div.superior{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 15%;
  background-color: #222c34;
}
div.inferior{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 85%;
  background-color: #ffffff;
  position: absolute;
  top: 1580px;
}
div.inferior-bloque{
  /*display: flex;*/
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
}
div.title-bloque{
  background-color: #e1e5ee;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
}
div.title-bloque h2{
font-size: 50px;
color: black;
margin-left: 60px;
font-family: 'title';
color: #2980b9;
}

div.about-bloque{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40%;
}
div.about-icon-bloque{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
}
div.about-info-bloque{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.title-info-about{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
  align-items: center;
}
div.title-info-about h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.text-info-about{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 70%;
}
div.text-info-about p{
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.location-bloque{
  background-color: #ffffff;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}
div.location-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.location-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.information-title{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.information-title h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.information-text{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.information-text p {
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.estado-bloque{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}

div.estado-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.estado-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.estado-title-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.estado-title-information h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.estado-text-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.estado-text-information p {
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #ffffff;
}
div.about-icon-bloque h1{
  margin-top: 15%;
  font-size: 70px;
  color: #ffffff;
}
div.location-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #ffffff;
}
div.estado-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #ffffff;
}


div.inferior-fotos{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}
div.title-inferior-fotos{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
background-color: #ffffff;
justify-content: flex-start;
align-items: center;
}

div.title-inferior-fotos h2{
font-size: 50px;
margin-left: 60px;
font-family: 'title';
color: #9b59b6;
}
div.bloque2-fotos{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 80%;
background-color: #ffffff;

}
div.img-principal-fotos{
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-right: 10px;
}
div.img-principal-fotos img{
  width: 100%;
  height: 100%;
}
div.img-secundarias-fotos{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
div.bloque-img-fotos{
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;
}
div#sub-bloque2{
  margin-bottom:0px;
}
div.bloque-img-fotos img{
  width: 100%;
  height: 100%;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}
.modal img{
  width: 80%;
  position: absolute;
  z-index: 98;
}
.modal div.modal_boton{
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  font-family: 'names';
  font-weight: bold;
  text-align: center;
  position: absolute;
  /*background-color: red;*/
  border-radius: 50%;
  right: 25px;
  top: 25px;
  z-index: 99;
}




div.bloque{
  display: flex;
  flex-flow: row;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
div.bloque h1{
  color: white;
  font-size: 90px;
}

div.bloque h1:hover{
  color: white;
  transition: 0.5s ease;
  font-size: 100px;
}

div#like{
  background-color: #222c34;
}
div#not{
  background-color: #222c34;
}

div.agunataModal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  position: absolute;

  z-index: 98;
  background-color: none;
  justify-content: center;
  align-items: center;
}

div.noAgunataModal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  position: absolute;

  z-index: 98;
  background-color: none;
  justify-content: center;
  align-items: center;
}
img.imaModal{
  width: auto;
  height: auto;

}
.convoyer{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  margin-top: 150px;

}

.elements{
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}
.element{
  margin: 0px 4px;

}
.element img{

  width: 975px;
  height: 900px;
}

div.inferior-arriba{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 36.8%;
  background-color: #1C262F;
  position: absolute;
  top: 1070px;
}
div.inferior-bloque-arriba{
  /*display: flex;*/
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #1C262F;
}
div.title-bloque-arriba{
  background-color: #e1e5ee;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
}
div.title-bloque-arriba h2{
font-size: 50px;
color: black;
margin-left: 60px;
font-family: 'title';
color: #2980b9;
}

div.about-bloque-arriba{
  background-color: #1C262F;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40%;
}
div.about-icon-bloque-arriba{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
}
div.about-info-bloque-arriba{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.title-info-about-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
  align-items: center;
}
div.title-info-about-arriba h3{
  font-size: 40px;
  font-family: 'title';
  color: #ED3140;
}
div.text-info-about-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 70%;
}
div.text-info-about-arriba p{
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #ffffff;
}
div.location-bloque-arriba{
  background-color: #1C262F;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}
div.location-icon-arriba{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.location-information-arriba{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.information-title-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.information-title-arriba h3{
  font-size: 40px;
  font-family: 'title';
  color: #ED3140;
}
div.information-text-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.information-text-arriba p {
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #ffffff;
}
div.estado-bloque-arriba{
  background-color: #1C262F;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}

div.estado-icon-arriba{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.estado-information-arriba{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.estado-title-information-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.estado-title-information-arriba h3{
  font-size: 40px;
  font-family: 'title';
  color: #ED3140;
}
div.estado-text-information-arriba{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.estado-text-information-arriba p {
  font-size: 35px;
  font-family: 'text';
  margin-right:10%;
  color: #ffffff;
}
div.about-icon-bloque-arriba h1{
  margin-top: 15%;
  font-size: 70px;
  color: #ffffff;
}
div.location-icon-arriba h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #ffffff;
}
div.estado-icon-arriba h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #ffffff;
}
