* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 1839.05px;
  background-size: cover;
  justify-content: center;
  display: inline-block;
  overflow: hidden;
  background: #1C262F;
}

.imagenLogoCarga {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  right: 355px;
  top: 210px;
  display: inline-block;
  text-align: center;
}

.icon-at{
  font-size: 55px;
  margin: -5px ;
  color: rgba(0,0,0,0.5);
}
.icon-user-o{
  font-size: 55px;
  margin: -15px;
  color: white;
}

.icon-lock{
  font-size: 55px;
  margin: -15px;
  color: white;
}

.icon-users{
  font-size: 55px;
  margin: -15px;
  color: rgba(0,0,0,0.4);
}


.imagenLogoCarga img {
  width: 100%;
  height: 100%;
}

h2 {
  padding-top: 30px;
  font-size: 45px;
  color: #ED3140;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #4FDA8C;
}

.form-wrap {
  width: 100%;
  height: 1085px;

  margin: 0 auto;


  overflow: hidden;
}

.inicio{
  width: 100%;
  height: 10%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
}

.form-wrap .tabs {
  overflow: hidden;

}

.form-wrap .tabs h3 {
  float: left;
  width: 100%;


}

.form-wrap .tabs h3 a {
  padding: 1.5em 0;
  text-align: center;
  font-weight: 900;
  font-size: 39px;
  display: flex;
  color: #fff;
  height: 50px;
  /*background: #222c34;*/
  background-color: rgba(34,44,52,0.5);

}

.form-wrap .tabs h3 a.active {
  background-color: rgba(34,44,52,1);

}

.form-wrap .tabs-content {
  padding: 1.5em;

}


.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  font-size: 35px;
  font-weight: 900;
  outline: 0;
  display: inline-block;
  margin: 1.2em 0 1.2em 0;
  padding-right: 2em;
  width: 100%;
  height: 100px;
  background-color: #1C262F;
}


input[type=text]{
  border: none;
  border-bottom: 2px solid #ED3140;
  box-sizing: border-box;
}
input[type=password]{
  border: none;
  border-bottom: 2px solid #ED3140;
  box-sizing: border-box;
}

input[type=email]{
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
}
input[type=number]{
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
}
/*.input[type=text]{
border: none;
border-bottom: 2px solid red;
box-sizing: border-box;
}
.input[type=text]{
border: none;
border-bottom: 2px solid red;
box-sizing: border-box;
}*/

.form-wrap form .inputt {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  font-size: 35px;
  font-weight: 900;
  outline: 0;
  display: inline-block;
  margin: 1.2em 0 1.2em 0;
  padding-right: 2em;
  width: 100%;
  height: 100px;
}


.form-wrap form .button {
  width: 100%;
  height: 100px;
  /*padding: 0 0 0px 0;
  margin: 1.2em 0 1.2em 0;*/
  border-radius: 25px;
  background-color: #DF4723;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.bloque{
  width: 100%;
  height: 100%;
  margin-top: -20px;
  display: flex;
  flex-flow: row;

}
.bloqueIcon{
  width: 20%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 85px 0 85px 0;
}
.bloqueIcon   h1{

}
.bloqeuInput{
  width: 80%;
  height: 100%;
  background-color: #1C262F;
}

.form-wrap form .buttonLogin {
  width: 100%;
  height: 100px;
  border-style: outset;
  padding: .8em 0 10px .8em;
  background-color: #ED3140;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 140px;

}

.form-wrap form .buttonLogin:hover {
  background-color: #ED3140;
}

.form-wrap form .button:hover {
  background-color: #ED3140;
}


.form-wrap form label[for] {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
}



.form-wrap form label[for]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid #DF4723;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-wrap .help-text {
  margin-top: .6em;
}

.form-wrap .help-text p {
  text-align: center;
  font-size: 20px;
}

body{
  font-family: 'Open Sans', sans-serif;

  text-align:center;

}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #2980b9 4px solid;
  margin-top: -20%;
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B;
}

#btn2{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{
  background:#3594D2;
}
