
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'title';
  src: url('../font/Cabin-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../font/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'names';
  src: url('../font/Roboto-Light.ttf');
}
body{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row  wrap;
  position: fixed;
}
header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 10%;
  background-color: red;
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #ED3140;
}
nav div.nav-profile{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #ED3140;


}
nav div.nav-profile h1{
  font-size: 100px;
  color: #ffffff;
}
nav div.nav-logo{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;



}
nav div.nav-logo img{
  width:150px;
  height:150px;

}

nav div.nav-messege{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #ED3140 ;


}
nav div.nav-messege h1{
  font-size:100px;
  color: #ffffff;
}

div.perfil-persona{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: green;
}



div.opciones-menu-perfil{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 2103px;
  background-color: #1C262F;
  position: fixed;
  top: 174px;
  left:0;

}
/*desde aca*/






div.perfil-persona-to{

  display: flex;
  flex-flow: row;
  width: 100%;
  height: 120px;
  background-color: #1C262F;







}

div.perfil-persona-to form{

  padding-top: 150px;
  padding-left: 0px;
  width: 120%;
  font-size: 50px;


}

div.perfil-persona-to p{
  font-family: 'names';
  color: #ED3140;
  font-size: 50px;


}

input[type="text"] {

    width: 700px;
    display: block;
    margin-bottom: 10px;
    color:#ED3140;
    border-color: #1C262F;


    border-radius: 20px;

}

div.button-guardar{
width: 87%;
justify-content: center;
text-align: center;

}

.button {
    background-color: #ED3140;
    border-radius: 20px;
    font-family: 'names';
    width: 80%;
    color: white;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;

    cursor: pointer;
    border-color: #ED3140;
    margin-top: 50px;




}


div.inferior-configura{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 990px;
  background-color: #f3f4f8;
  position: fixed;
  top: 755px;
  left:0px;
  z-index: 96;
}


/*div.infoPersonal{
display: flex;
flex-flow: row;
width: 75%;
height: 100%;
justify-content: flex-start;
align-items: center;
}*/

div.title-inferior-congigura{
background-color: #e1e5ee;
}
div.title-inferior-congigura h1{
padding-left: 60px;
padding-top: 70px;
padding-bottom: 60px;
font-size: 50px;
justify-content: center;
color: #9b59b6;
font-family: 'title';
}

div.configura-jSlider1 h2{
color: #ED3140;
font-size: 50px;
font-family: 'names';
}
div.configura-jSlider2 h2{
color: #ED3140;
font-size: 50px;
font-family: 'names';
}

div.configura-checkBox h2{
margin-top: 10px;
color: #ED3140;
font-size: 50px;
font-family: 'names';
}




.slider1{

height: 60px;
position: relative;
width: 100%;

}

.slider1 > .emptyprogress1{
background: #F49DA7;
border: 3px solid #F49DA7;
cursor: pointer;
border-radius: 10px;
height: 40%;
top:25%;
position: absolute;
width: 100%;

-webkit-box-shadow: 1px 1px 3px 0px #ccc;
box-shadow: 1px 1px 3px 0px #ccc;

}

.slider1 > .progress1{
background: #ED3140;
border: 3px solid #ED3140;
cursor: pointer;
border-radius: 10px;
height: 40%;
top:25%;
position: absolute;
width: 0%;


-webkit-box-shadow: 1px 1px 3px 0px #ccc;
box-shadow: 1px 1px 3px 0px #ccc;
}

.slider1 > .indicator1{
background: url('../img/pointer.png') no-repeat;
/*border: 1px solid red;*/
cursor: move;
height: 100%;
margin: 8px auto auto -30px;
left: 0%;
position: absolute;
width:60px;

}

.info1, .info1> label > input{
font-family: 'Julius Sans One', sans-serif;

}

.info1{
font-size: 32px;
font-weight: bold;
width: 100%;

display: flex;
flex-flow: row;



}

.info1> label > input{
border: none;
font-size: 20px;
width: 20px;
}

.configura-jSlider1{
background-color: #1C262F;
padding-right: 60px;

}

.slider2{

height: 60px;
position: relative;
width: 100%;
}

.slider2 > .emptyprogress2{
background: #F49DA7;
border: 3px solid #F49DA7;
cursor: pointer;
border-radius: 10px;
height: 40%;
top:25%;
position: absolute;
width: 100%;

-webkit-box-shadow: 1px 1px 3px 0px #ccc;
box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .progress2{
background: #ED3140;
border: 3px solid #ED3140;
cursor: pointer;
border-radius: 10px;
height: 40%;
top:25%;
position: absolute;
width: 0%;

-webkit-box-shadow: 1px 1px 3px 0px #ccc;
box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .indicator2{
background: url('../img/pointer.png') no-repeat;
/*border: 1px solid red;*/
cursor: move;
height: 100%;
margin: 8px auto auto -30px;
left: 0%;
position: absolute;
width:60px;
}

.info2, .info2> label > input{
font-family: 'Julius Sans One', sans-serif;
color: #2980b9;
}

.info2{
font-size: 30px;
font-weight: bold;
width: 100%;

display: flex;
flex-flow: row;
}

.info2> label > input{
border: none;
font-size: 20px;
width: 20px;
}

.configura-jSlider2{
padding-right: 60px;

}



.configura-checkBox{
padding-right: 60px;
}

.infoCheck{

font-size: 32px;
font-weight: bold;
margin-top: 30px;
color: #ED3140;
width: 100%;
display: flex;
flex-flow: row;
}

div.contenido-checks{
padding-top: 20px;
display: flex;
flex-flow: column;
width: 80%;
height: 100%;

}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #ffffff;
    font-family:'names';
    font-size:50px;
    padding: 55px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:45px;
    height:45px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;

}

input[type="radio"] + label span {
     background-color:#F49DA7;
}

input[type="radio"]:checked + label span{
     background-color: #ED3140;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
div.icon-info1{
  color: #ffffff;
  font-size: 35px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 17%;
  padding-left: 0px;
  padding-right: 4
  0px;
  padding-top: 50px;
}

div.icon-nombre{
  display: flex;
  flex-flow: row;
  padding-right: 40px;
  padding-top: 40px;
  font-size: 30px;
  margin-left: 50px;
  height: 100%;

  justify-content: center;
  color: #ffffff;
}

div.icon-nombre-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.nombre-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 50%;
}

div.icon-sobre-me{
  display: flex;
  flex-flow: row;;
  font-size: 30px;
  height: 100%;
  margin-left: -45px;

  justify-content: center;
  color: #ffffff;
}

div.sobre-me-input-input{
    display: flex;
    flex-flow: column;
    width: 75%;
    height: 100%;
    margin-left: 55px;
    margin-bottom: 10px;
}

div.sobre-me-input{
    display: flex;
    flex-flow: row;
    width: 98%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

div.icon-estadoP{
  display: flex;
  flex-flow: row;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 80px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #ffffff;
}

div.estado-input-input{
    display: flex;
    flex-flow: column;
    margin-left: 42px;
    width:  75%;
    height: 100%;

}

div.estado-input{
    display: flex;
    flex-flow: row;
    width: 98%;
    height: 50%;
}

div.SliderYtitle1{

   display: flex;
   flex-flow: column;
   width: 65%;
   height: 100%;


}

div.SliderYtitle2{

   display: flex;
   flex-flow: column;
   width: 65%;
   height: 100%;

}

div.icon-info2{
  color: #ffffff;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 17%;

  padding-top: 50px;
}

div.check{
  color: #ffffff;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 50px;

}

div.icon-check{

color: #ffffff;
font-size: 35px;
display: flex;
flex-flow: row;
justify-content: center;
width: 20%;
padding-left: 60px;
padding-right: 80px;
padding-top: 35px;
}

div.input1{
  width: 50%;
}

div.input2{
  width: 50%;
}

div.configura-jSlider1{
background-color: #1C262F;
padding-bottom: 20px;

}

div.configura-jSlider2{
background-color: #1C262F;

padding-top: 20px;
}

div.configura-checkBox{
  background-color: #1C262F;
}

div.contenidos-input{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

div.contenidos{
  margin-top: 500px;

}
